###Load training and test data
using pandas module

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv('kc_house_train_data.csv')
test_data = pd.read_csv('kc_house_test_data.csv')

### Exploring data

In [3]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [10]:
import math
train_data['bedrooms_squared'] = train_data['bedrooms'] ** 2
train_data['bed_bath_rooms'] = train_data['bedrooms'] * train_data['bathrooms']
train_data['log_sqft_living'] = train_data['sqft_living'].map(lambda x: math.log(x))
train_data['lat_plus_long'] = train_data['lat'] + train_data['long']

train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,lat_plus_long,log_sqft_living
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1,0,0,...,0,98178,47.5112,-122.257,1340,5650,9,3.00,-74.7458,7.073270
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2,0,0,...,1991,98125,47.7210,-122.319,1690,7639,9,6.75,-74.5980,7.851661
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1,0,0,...,0,98028,47.7379,-122.233,2720,8062,4,2.00,-74.4951,6.646391
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1,0,0,...,0,98136,47.5208,-122.393,1360,5000,16,12.00,-74.8722,7.580700
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1,0,0,...,0,98074,47.6168,-122.045,1800,7503,9,6.00,-74.4282,7.426549

In [11]:
test_data['bedrooms_squared'] = test_data['bedrooms'] ** 2
test_data['bed_bath_rooms'] = test_data['bedrooms'] * test_data['bathrooms']
test_data['log_sqft_living'] = test_data['sqft_living'].map(lambda x: math.log(x))
test_data['lat_plus_long'] = test_data['lat'] + test_data['long']

test_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,log_sqft_living,lat_plus_long
0,114101516,20140528T000000,310000,3,1.0,1430,19901,1.5,0,0,...,0,98028,47.7558,-122.229,1780,12697,9,3.0,7.265430,-74.4732
1,9297300055,20150124T000000,650000,4,3.0,2950,5000,2.0,0,3,...,0,98126,47.5714,-122.375,2140,4000,16,12.0,7.989560,-74.8036
2,1202000200,20141103T000000,233000,3,2.0,1710,4697,1.5,0,0,...,0,98002,47.3048,-122.218,1030,4705,9,6.0,7.444249,-74.9132
3,8562750320,20141110T000000,580500,3,2.5,2320,3980,2.0,0,0,...,0,98027,47.5391,-122.070,2580,3980,9,7.5,7.749322,-74.5309
4,7589200193,20141110T000000,535000,3,1.0,1090,3000,1.5,0,0,...,0,98117,47.6889,-122.375,1570,5080,9,3.0,6.993933,-74.6861

### Quiz Question

In [14]:
print test_data['bedrooms_squared'].mean()
print test_data['bed_bath_rooms'].mean()
print test_data['log_sqft_living'].mean()
print test_data['lat_plus_long'].mean()

12.4466777016
7.50390163159
7.55027467965
-74.653333554

### Building 3 linear regression models
1. sqft_living, bedroooms, bathrooms, lat, lng
2. sqft_living, bedroooms, bathrooms, lat, lng, bed_bath_rooms
3. sqft_living, bedroooms, bathrooms, lat, lng, bed_bath_rooms, log_sqft_living, lat_plus_long

In [15]:
from sklearn.linear_model import LinearRegression

###Prepare data

In [21]:
model1_train_data = train_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']]
model2_train_data = train_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms']]
model3_train_data = train_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms', 'log_sqft_living', 'lat_plus_long']]

target_train_data = train_data['price']

In [92]:
model1 = LinearRegression()
model1.fit(model1_train_data, target_train_data)
print model1.coef_
print model1.intercept_

[  3.12258646e+02  -5.95865332e+04   1.57067421e+04   6.58619264e+05
  -3.09374351e+05]
-69075726.7926

In [93]:
model2 = LinearRegression()
model2.fit(model2_train_data, target_train_data)
print model2.coef_
print model2.intercept_

[  3.06610053e+02  -1.13446368e+05  -7.14613083e+04   6.54844630e+05
  -2.94298969e+05   2.55796520e+04]
-66867968.8711

In [94]:
model3 = LinearRegression()
model3.fit(model3_train_data, target_train_data)
print model3.coef_
print model3.intercept_

[  5.32283566e+02   1.19729630e+03   9.43375296e+04   5.30911958e+05
  -4.03638426e+05  -1.62724577e+04  -5.64708989e+05   1.27273532e+05]
-61463933.6552

# Get each training RSS

In [78]:

predicted = model1.predict(model1_train_data)
rss = sum((predicted - target_train_data) ** 2)
print predicted
print rss

[ 244657.18811046  855689.66538487  318101.67899466 ...,  528928.42823838
  356549.38348044  317948.91207276]
9.6787996305e+14

In [74]:
predicted = model2.predict(model2_train_data)
rss = sum((predicted - target_train_data) ** 2)
print predicted
print rss

[ 251332.76667792  839750.73997916  354879.46307828 ...,  515931.64001567
  347955.1343644   361864.55175637]
9.58419635074e+14

In [75]:
predicted = model3.predict(model3_train_data)
rss = sum((predicted - target_train_data) ** 2)
print predicted
print rss

[ 277659.33514468  790090.97209073  458138.65063258 ...,  533954.96265644
  360930.00642116  340576.64468012]
9.04510878672e+14

### Test data

In [72]:
model1_test_data = test_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']]
model2_test_data = test_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms']]
model3_test_data = test_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms', 'log_sqft_living', 'lat_plus_long']]

target_test_data = test_data['price']

target_test_data.head()

0    310000
1    650000
2    233000
3    580500
4    535000
Name: price, dtype: float64

In [86]:
predicted = model1.predict(model1_test_data)
rss = sum((predicted - target_test_data) ** 2)

print rss

2.25500469795e+14

In [87]:
predicted = model2.predict(model2_test_data)
rss = sum((predicted - target_test_data) ** 2)
print rss

2.23377462976e+14

In [90]:
predicted = model3.predict(model3_test_data)
rss = sum((predicted - target_test_data) ** 2)
print rss

2.13310954246e+14

In [91]:
temp = train_data[['sqft_living', 'bedrooms', 'bathrooms']]
temp_test = test_data[['sqft_living', 'bedrooms', 'bathrooms']]
temp.head()
temp_model = LinearRegression()
temp_model.fit(temp, target_train_data)
print temp_model.coef_
print temp_model.intercept_
print temp_model.predict(temp)[0]
print target_test_data[0]
rss = ((temp_model.predict(temp_test) - target_test_data) ** 2).sum()
print rss

[   315.40669062 -65081.88711588   6942.16598637]
87912.865815
271789.26538
310000.0
2.73761940583e+14

In [64]:
model1_test_data.head()

   sqft_living  bedrooms  bathrooms      lat     long
0         1430         3        1.0  47.7558 -122.229
1         2950         4        3.0  47.5714 -122.375
2         1710         3        2.0  47.3048 -122.218
3         2320         3        2.5  47.5391 -122.070
4         1090         3        1.0  47.6889 -122.375

In [65]:
model2_test_data.head()

   sqft_living  bedrooms  bathrooms      lat     long  bed_bath_rooms
0         1430         3        1.0  47.7558 -122.229             3.0
1         2950         4        3.0  47.5714 -122.375            12.0
2         1710         3        2.0  47.3048 -122.218             6.0
3         2320         3        2.5  47.5391 -122.070             7.5
4         1090         3        1.0  47.6889 -122.375             3.0

In [66]:
model3_test_data.head()

,sqft_living,bedrooms,bathrooms,lat,long,bed_bath_rooms,log_sqft_living,lat_plus_long
0,1430,3,1.0,47.7558,-122.229,3.0,7.265430,-74.4732
1,2950,4,3.0,47.5714,-122.375,12.0,7.989560,-74.8036
2,1710,3,2.0,47.3048,-122.218,6.0,7.444249,-74.9132
3,2320,3,2.5,47.5391,-122.070,7.5,7.749322,-74.5309
4,1090,3,1.0,47.6889,-122.375,3.0,6.993933,-74.6861