In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('kc_house_train_data.csv')
test = pd.read_csv('kc_house_test_data.csv')

In [3]:
train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
print len(train), len(test)

17384 4229

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
def simple_linear_regression(input_feature, output):
    model = LinearRegression()
    model.fit(input_feature, output)
    return model.intercept_, model.coef_

In [18]:
input_feature = train['sqft_living'].values
output = train['price']

input_feature = input_feature.reshape((17384, 1))

In [20]:
print simple_linear_regression(input_feature, output)

(-47116.079072893248, array([ 281.95883963]))

In [24]:
def get_regression_predictions(input_feature, intercept, slope):
    predicted_output = input_feature * slope + intercept
    return predicted_output

In [25]:
predicted_output = get_regression_predictions(input_feature, -47116.079072893248, 281.95883963)

In [27]:
import numpy as np
a = get_regression_predictions(np.array(2650), -47116.079072893248, 281.95883963)

In [28]:
a

700074.84594660671

In [29]:
def get_residual_sum_of_squares(input_feature, output, intercept,slope):
    diff = output - (input_feature * slope + intercept)
    squre_diff = diff ** 2
    rss = sum(squre_diff)
    return rss

In [32]:
input_feature = input_feature.reshape((17384,))
print input_feature.shape, output.shape
print get_residual_sum_of_squares(input_feature, output, -47116.079072893248, 281.95883963)

(17384,) (17384,)
1.20191835418e+15

In [33]:
def inverse_regression_predictions(output, intercept, slope):
    estimated_input = (output - intercept) / slope
    return estimated_input

In [34]:
print inverse_regression_predictions(np.array(800000), -47116.079072893248, 281.95883963)

3004.39624516

In [35]:
input_feature2 = train['bedrooms'].values

In [38]:
print simple_linear_regression(input_feature2.reshape((-1, 1)), output)

(109473.17762296059, array([ 127588.95293399]))

In [50]:
test_input_feature = test['sqft_living'].values
test_input_feature2 = test['bedrooms'].values
test_output_feature = test['price']

print test_input_feature.shape

(4229,)

In [51]:
model = LinearRegression()
model.fit(input_feature.reshape((-1, 1)), output)

print get_residual_sum_of_squares(test_input_feature, test_output_feature, -47116.079072893248, 281.95883963)

2.75402933618e+14

In [52]:
model = LinearRegression()
model.fit(input_feature2.reshape((-1, 1)), output)

print get_residual_sum_of_squares(test_input_feature2, test_output_feature, 109473.17762296059, 127588.95293399)

4.9336458596e+14